@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.bold {
    font-weight: bold;
}

.price-font {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: rgb(87, 87, 87);
}

.border-bottom {
    border-bottom: 9px solid red;
}

.brand {
    font-family: 'Pacifico', cursive;
    color: rgb(201, 201, 201);
}

.first-letter {
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.navbar {
    background-color: rgb(255, 255, 255);
}

font {
    color: rgb(110, 110, 110);
}

font:hover {
    color: rgb(47, 147, 255);
}


/*  */
/*  */
.feature {
    background-color: #ffffff;
    padding: 2.8rem 0 3.8rem 0;
}
  
.container-feature {
  
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 3rem;
    row-gap: 4rem;
  
    align-items: center;
}
  
.sub-heading {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}
  
.feature-num {
    font-size: 2.4rem;
    font-family: "Monoton", sans-serif;
    /* color: #ffcb00; */
    color: #0800ff;
}
  
.feature-text {
    font-family: "Rubik", sans-serif;
}
  
.feature-head {
    font-size: 1.2rem;
    font-weight: bold;
    /* color: #1e2051; */
    color: #474747;
    margin-bottom: 1.5rem;
    line-height: 1.4;
}
  
.feature-description {
    font-size: 1rem;
    line-height: 1.5;
    color: #1a1a1a75;
    font-weight: 400;
}

/* ----------------------------- */
/* -----------HERO------------ */
/* ----------------------------- */
.section-hero {
    background-color: #ffffff;
    padding-bottom: 3.4rem;
    padding-top: 1.6rem;
}
  
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}
  
.hero-description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 3rem;
    color: #3a3a3ca8;
}

.heading-primary {
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 3.2rem;
    color: #2b2b52;
}
  
.hero-icon {
    color: #2f2f31;
}
  
.hero-greeting {
    border: none;
    background-color: #4f5564bf;
    padding: 0.5rem 1rem;
    display: inline-block;
    font-size: 0.8rem;
    color: #ffffffb4;
    margin-bottom: 3rem;
    border-radius: 5px;
}
  
.hero-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px
}

.hero-figure {
    width: 90%;
    border-radius: 10px;
}

.moveable {
    position: relative;
    bottom: 100px;
}


/* breathing animation */
.hero-figure:nth-child(2) {
    animation: breath 25s linear infinite;
}

.hero-figure:nth-child(3) {
    animation: breath 30s linear infinite;
}

.hero-figure:nth-child(4) {
    animation: breath 35s linear infinite;
}

@keyframes breath{
    0%{transform: scale(.99);}
    10%{transform: scale(1.1);}
    20%{transform: scale(.99);}
    30%{transform: scale(1.1);}
    40%{transform: scale(.99);}
    50%{transform: scale(1.1);}
    60%{transform: scale(.99);}
    70%{transform: scale(1.1);}
    80%{transform: scale(.99);}
    90%{transform: scale(1.1);}
    100%{transform: scale(.99);}
}

/* Responsive Styles for hero */
@media (max-width: 768px) {
    .hero {
      grid-template-columns: 1fr;
      gap: 3rem;
    }
  
    .hero-img {
      /* grid-template-columns: 1fr; */
      display: none;
    }
  
    .hero-figure {
      width: 100%;
    }
  
    .moveable {
      bottom: 0;
    }
}