@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200;400;600;700;800&display=swap');

.bold {
    font-weight: bold;
}

.price-font {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: rgb(87, 87, 87);
}

.border-bottom {
    border-bottom: 9px solid red;
}

.brand {
    font-family: 'Pacifico', cursive;
    color: rgb(201, 201, 201);
}

.first-letter {
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.navbar {
    background-color: rgb(255, 255, 255);
}

font {
    color: rgb(110, 110, 110);
}

font:hover {
    color: rgb(47, 147, 255);
}